.s1
{
    float: none;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    height:auto;
    color: #fff;
    background: #fff;
    border-radius: 10px;
    text-align:center;
    font-family: global6;
}

.s2
{
    
    margin-top: 10px;
     padding: 0; 
     height: 40px;
     background: #357ebd; 
     color: white;
}