/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Mar, 2017, 10:04:29 PM
    Author     : Nishant
*/

ul.breadcrumb {
 
    list-style: none;
    font-size: 11px;
}
ul.breadcrumb li {display: inline;
color: #fff;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #357ebd;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}